<!--by meself -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <title>
        Final Project
    </title>
</head>

<body>

<div  class="container-fluid">
<div class="row" style="padding: 50px; text-align: center">
    <h2 style="text-align: center">Weather</h2>
    <hr>
    <button class="btn btn-success btn-lg" onclick="goToUrl('/spider')">Data capture</button>
    <button style="margin-left: 20px" class="btn btn-warning btn-lg" onclick="goToUrl('/show')">Data show</button>
    <button style="margin-left: 20px" class="btn btn-info btn-lg" onclick="goToUrl('/mining')">Prediction</button>
    <br><br>
    <button style="width: 370px" class="btn btn-default btn-lg" onclick="goToUrl('/admin')">Admin management</button>


</div>
</div>
</body>
<script src="/static/js/libs/vue.min.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/index.js"></script>


</html>
