<!--by meself -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon.ico" mce_href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/libs/jquery-confirm.css">
    <link rel="stylesheet" href="/static/css/libs/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/base.css">

    <title>
        Data Display
    </title>
</head>

<body>

<div class="container-fluid">
<div id="vue-div" class="row" style="padding: 20px">
    <h2 style="text-align: center">Data Display</h2>
    <hr>
    <div style="padding: 10px;">
        <div class="input-group">
            <span class="input-group-addon">Begin date:</span>
            <input id="begin-date" type="text" class="form-control" placeholder="day/month/year">

            <span class="input-group-addon">End date:</span>
            <input id="end-date" type="text" class="form-control" placeholder="day/month/year">

            <span class="input-group-addon">City:</span>
            <select v-model="request.city" class="form-control">
                <option value="Cardiff">Cardiff</option>
                <option value="Birmingham">Birmingham</option>
                <option value="Swansea">Swansea</option>
            </select>
        </div>
        <br>
        <button style="width: 100%" class="btn btn-info" onclick="click_search()">Show</button>
    </div>
    <hr>
    <img v-show="loading" style="position:fixed; left:50%; top:50%;" src="/static/img/loading.gif">
    <div id="chart-show" style="height: 300px; width: 100%; text-align: center">
    </div>
</div>
</div>
</body>

<script src="/static/js/libs/vue.min.js"></script>
<script src="/static/js/libs/jquery.js"></script>
<script src="/static/js/libs/jquery-confirm.js"></script>
<script src="/static/js/libs/jquery-cookie.js"></script>
<script src="/static/js/libs/jquery-ui.js"></script>
<script src="/static/js/libs/echarts-all.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/base.js"></script>
<script src="/static/js/show.js"></script>
</html>
